name: Laravel CI

on: [push]

jobs:
    laravel-test:
        runs-on: self-hosted

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: laravel
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping --silent"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=3
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.4'
                extensions: mbstring, bcmath, mysqli, pdo, pdo_mysql
                
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '22'
                cache: 'npm'
            
            - name: Install Node Dependencies
              run: npm ci

            - name: Install Dependencies
              run: composer install --no-interaction --prefer-dist --optimize-autoloader

            - name: Copy Environment File
              run: cp .env.example .env

            - name: Generate Application Key
              run: php artisan key:generate

            - name: Build Assets
              run: npm run build

            - name: Tests
              id: test
              run: ./vendor/bin/phpunit
            
            - name: deploy
              if: steps.test.outcome == 'success'
              run: | 
                echo "Deploying application..."
                ls
            
            - name: Artifact
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: artifacts
                path: composer.json
